example {
  display: flex;
  flex-direction: row;
}

pre#example{
  line-height: 1.2;
  flex: 1;
  font-family: "input serif compressed", monospace;
}

svg {
  flex: 1;
  width: 200px;
}

.current {
  transition: filter 0.2s, background-color 0.2s;
  -o-transition: -o-filter 0.2s, background-color 0.2s;
  -moz-transition: filter 0.2s, background-color 0.2s;
  -webkit-transition: -webkit-filter 0.2s, background-color 0.2s;
  transition-timing-function: ease;
  -o-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  filter: saturate(40%);
  -o-filter: saturate(40%);
  -moz-filter: saturate(40%);
  -webkit-filter: saturate(40%);
  font-size: 15px;
  z-index: 0;
  transition-delay: 0.2s, 0.2s;
}


.current:hover,
.current.active,
.active .current {
  filter: saturate(150%);
  -o-filter: saturate(150%);
  -moz-filter: saturate(150%);
  -webkit-filter: saturate(150%);
  font-size: 15px;
  background-color: hsla(0, 0%, 0%, 0.1);
  z-index: 1;
  opacity: 0.9;
  /* border-radius: 10px; */
  background-size: cover;
  transition-delay: 0s, 0s;
}

stmt.current {}

circle {
  transition: filter 0.2s ease;
  -o-transition: -o-filter 0.2s ease;
  -moz-transition: filter 0.2s ease;
  -webkit-transition: -webkit-filter 0.2s ease;

  filter: inherit;
  -o-filter: inherit;
  -moz-filter: inherit;
  -webkit-filter: inherit;
}


.current[result="success"]{
  color: green;
}

.current[result="error"]{
  color: red;
}

pre *.active[result="success"] * {
  color: green !important;
}

pre *.active[result="error"] * {
  color: red !important;
}

div#visualization {
  display: flex;
  flex-direction: row;
}

.current *[possiblecurrent="true"],
.active *[possiblecurrent="true"] {
  transition-delay: 0.2s, 0.2s;
}


.current:hover *[possiblecurrent="true"],
.current.active *[possiblecurrent="true"],
.active .current *[possiblecurrent="true"] {
    background-color: hsla(0, 0%, 0%, 0.02);

    transition-delay: 0s, 0s;
}


column#grammar {
    display: none;
}

column#semantics {
    display: none;
}

column#examples {
    margin-left: 100px;
}

/*pre#example * > * ~ terminal{
    font-weight: bold;
}*/

.landmark {
  font-weight: bold;
  -webkit-filter: opacity(0.7);
}
