@import url("fonts/stylesheet.css");

body {
    margin: 100px 400px;
    font-family: 'fira_sansregular';
}

h1 {
    font-family: 'fira_sansbold';
}

h2 {
  color: hsl(0, 0%, 50%);
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 30%);
}

ul {
  list-style-type: none;
}
